#!/bin/bash
LOGFILE="/opt/omd/sites/gitlab/var/log/apache/access_log"
HOOK_URL="<%= @slack_hook %>"
CHANNEL="<%= @slack_channel %>"
USERNAME="<%= @slack_username %>"
ICON=":bangbang:"

# Check latest call to enable_notifications
NOTIFICATIONS=`grep enable_notifications $LOGFILE | tail -1`
NOTIFICATIONS_DISABLED=`echo $NOTIFICATIONS | grep -c "state=0"`

if [ $NOTIFICATIONS_DISABLED -eq 1 ]; then
  curl -X POST --data-urlencode "payload={\"channel\": \"$CHANNEL\", \"username\":\"$USERNAME\",\"icon_emoji\":\"$ICON\",\"text\":\"<!channel> CheckMK notifications are disabled, please enable again!\"}" $HOOK_URL >/dev/null 2>&1
fi
