#!/bin/bash
# PagerDuty

if [ "$NOTIFY_SERVICESTATE" != "\$SERVICESTATE\$" ]; then
  DESC="service $NOTIFY_SERVICEDESC is $NOTIFY_SERVICESTATE"
else
  DESC="host is $NOTIFY_HOSTSTATE"
fi

curl -H "Content-type: application/json" -X POST -d \
"{    
    \"service_key\": \"<%= @pagerduty_key %>\",
    \"event_type\": \"trigger\",
    \"description\": \"$DESC\",
    \"client\": \"$NOTIFY_HOSTNAME\",
    \"client_url\": \"https://checkmk.gitlap.com\"
}" \
"https://events.pagerduty.com/generic/2010-04-15/create_event.json"
