# This file is created by Chef!
<IfModule mod_proxy_http.c>
  <Proxy http://127.0.0.1:4180/<%= @site %>>
    Order allow,deny
    allow from all
  </Proxy>

  <Location /<%= @site %>>
    ProxyPass http://127.0.0.1:4180/<%= @site %> retry=0 disablereuse=On
    ProxyPassReverse http://127.0.0.1:4180/<%= @site %>
  </Location>

  <Location /oauth2>
    ProxyPass http://127.0.0.1:4180/oauth2 retry=0 disablereuse=On
    ProxyPassReverse http://127.0.0.1:4180/oauth2
  </Location>
</IfModule>
