#!/bin/bash
WARNING=500

MASTER=`/opt/gitlab/embedded/bin/redis-cli <<EOF | grep -c role:master
 auth <%= @password %>
 info
EOF`
if [ "$MASTER" -eq "0" ]; then
  echo "0 Redis_replication_lag redis_repl_lag=0;$WARNING;;0; OK - role slave detected: this check is for master only"
  exit
fi

MASTER_OFFSET=`/opt/gitlab/embedded/bin/redis-cli <<EOF | grep master_repl_offset | awk -F: '{ print $2 }' | tr -d '\r'
 auth <%= @password %>
 info
EOF`

SLAVE_WARN=""
SLAVE_CRIT="0"
for SLAVE in `seq 0 3`
do
  SLAVE_OFFSET=`/opt/gitlab/embedded/bin/redis-cli <<EOF | grep slave$SLAVE | awk -F, '{ print $4 }' | sed -e 's/offset=//' | tr -d '\r'
   auth <%= @password %>
   info
EOF`
  LAG_BYTES=`expr $MASTER_OFFSET - $SLAVE_OFFSET`
  LAG_KBYTES=`expr $LAG_BYTES / 1024`

  if [ "$LAG_KBYTES" = "" ]; then
    SLAVE_CRIT=`expr $SLAVE_CRIT + 1`
  fi

  if [ "$LAG_KBYTES" -gt "$WARNING" ]; then
    SLAVE_WARN="1 Redis_replication_lag redis_repl_lag=$LAG_KBYTES;$WARNING;;0; replication lag to high: $LAG_KBYTES KB"
  fi
done

if [ "$SLAVE_CRIT" -eq "4" ]; then
  echo "2 Redis_replication_lag redis_repl_lag=0;500;;0; replication stopped with all slaves"
  exit
fi
if [ "$SLAVE_CRIT" -lt "4" ] && [ "$SLAVE_CRIT" -gt "0" ]; then
  echo "1 Redis_replication_lag redis_repl_lag=0;500;;0; replication stopped with $SLAVE_CRIT slaves"
  exit
fi
if [ "$SLAVE_WARN" != "" ]; then
  echo $SLAVE_WARN
  exit
fi

echo "0 Redis_replication_lag redis_repl_lag=$LAG_KBYTES;$WARNING;;0; replication lag: $LAG_KBYTES KB"
