#!/bin/bash
REDIS_KEYS=`/opt/gitlab/embedded/bin/redis-cli <<EOF | grep db0 | sed -e 's/^db0://'
 auth <%= @password %>
 info keyspace
EOF`
KEYS=`echo $REDIS_KEYS | awk -F, '{ print $1 }'`
echo "0 Redis_keys $KEYS;;;0; OK - $REDIS_KEYS"
