#!/bin/bash
# Slack
HOOK_URL="<%= @slack_hook %>"
CHANNEL="<%= @slack_channel %>"
USERNAME="<%= @slack_username %>"
ICON=":bangbang:"
MENTION="<!channel> "

if [ "$NOTIFY_SERVICESTATE" != "\$SERVICESTATE\$" ]; then
  if [ "$NOTIFY_SERVICESTATE" == "OK" ]; then
    MENTION=""
    ICON=":ok:"
  fi
  MSG="$MENTION$NOTIFY_HOSTNAME $NOTIFY_SERVICEDESC is $NOTIFY_SERVICEOUTPUT"
else
  if [ "$NOTIFY_HOSTSTATE" == "UP" ]; then
    MENTION=""
    ICON=":ok:"
  fi
  MSG="$MENTION$NOTIFY_HOSTNAME is $NOTIFY_HOSTSTATE"
fi

curl -X POST --data-urlencode "payload={\"channel\": \"$CHANNEL\", \"username\":\"$USERNAME\",\"icon_emoji\":\"$ICON\",\"text\":\"$MSG\"}" $HOOK_URL
